<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>Tikof</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <section class="no-scrollbar">
    <% files.forEach(function(file) { %>
      <% if (file.typef.includes('video')) { %>
        <%- include('../partials/video/video-container', { ...file }); %>
      <% } else if (file.typef.includes('image')) { %>
        <%- include('../partials/image/image-container', { ...file }); %>
      <% } %>
    <% }); %>
  </section>
  <%- include('../partials/nav'); %>
</body>
</html>